<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.AnswerMapper">

    <select id="findAll" resultType="com.exam.vo.AnswerVO">
        select
            *
        from (
            select questionId,question, subject, score, section, level, '选择题' as type
            from multi_question
            union
            select questionId,question, subject, score, section, level, '判断题' as type
            from judge_question
            union
            select questionId,question, subject, score, section, level, '填空题' as type
            from fill_question
        ) t where 1=1
        <if test="params.type != null and params.type!=''">
            and t.type = #{params.type}
        </if>
        <if test="params.question != null and params.question!=''">
            and t.question like concat('%',#{params.question},'%')
        </if>
        <if test="params.subject != null and params.subject!=''">
            and t.subject like concat('%',#{params.subject},'%')
        </if>
    </select>

</mapper>

