<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.exam.mapper.ExamManageMapper">

    <select id="findAll" resultType="com.exam.entity.ExamManage">
        select
        *
        from exam_manage t where 1=1
        <if test="params.source != null and params.source!=''">
            and t.source like concat('%',#{params.source},'%')
        </if>
    </select>

</mapper>

